<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.fields_for :content_blocks, form.object.content_blocks do |content_block_form| %>
      <%= render partial: 'content_blocks/form', locals: { f: content_block_form } %>
    <% end %>
    <%= link_to_add_association 'Add Content Block', form, :content_blocks, partial: 'content_blocks/form' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
